# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/
node_modules/

# Virtual environments
.venv/
venv/

# Environment files
#.env

# IDE files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db